<!DOCTYPE html>
<html>
  <head>
    <title>Socket IO Chat</title>
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <h3>Socket.IO Chat</h3>
    <input id="msg" placeholder="Type a message here" />
    <button onclick="send()">Send</button>
    <ul id="chat"></ul>

    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const token = localStorage.getItem("token");
        const username = localStorage.getItem("username");
        
        if (!token || !username) {
          window.location.href = "./login";
        }
      });

      const socket = io("ws://localhost:3000", {
        auth: {
          token: localStorage.getItem("token")
        },
      });

      function getMessage(data) {
        const chat = document.getElementById("chat");
        const li = document.createElement("li");
        li.innerText = `${data.username} said: ${data.message}`;
        chat.appendChild(li);
      }

      socket.on("chat-message", (object) => {
        getMessage(object);
      });

      function send() {
        const message = document.getElementById("msg").value;
        socket.emit("chat-message", message);
      }
    </script>
  </body>
</html>
